@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

/* general */

*, p, ol {
  margin: 0;
}

html, body {
  background-color: darkgrey;
  height: 100%;
  width:  100%;
}

/* tabs */

main {
  display: none;
}
main.active-tab {
  display: block;
  height: 100%;
  width: 100%;
}

nav {
  background-color: #f4f4f4;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  top: 50%;
  z-index: 100;
}
nav ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* single tab */

article, h1 {
  height: 100%;
  overflow: hidden;
  width: 66%;
}

aside {
  float: right;
  height: 100%;
  width: 33%;
}

header, h1, aside > p {
  height:        10%;
  min-height:    50px;
  text-align:    center;
}

section, aside > ol {
  height: 90%;
}

header, section {
  width: 100%%;
}

h1 {
  position: absolute;
  margin: 0;
}


section, aside > ol {
  background-color: #eee;
}

header, aside > p {
  padding-top: 10px;
  background-color: white;
}

aside > ol {
  overflow: scroll;
}

aside > ol li {
  font-family: 'Source Code Pro';
  font-size:   8pt;
}

/* graph tab */

.current-log {
  background-color: #ddd;
}
