<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="monitorLogSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5level] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="monitorLogFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/monitor.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/monitor.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>[%-5level] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.scalac.amv.extension" level="DEBUG">
    <appender-ref ref="monitorLogSTDOUT" />
    <appender-ref ref="monitorLogFILE" />
  </logger>

  <root level="OFF" />
</configuration>
